@{
  ViewBag.Title = "Home Page";
}

<style type="text/css">
  .list-group-item {
    font-size: 1.2em;
  }
</style>

<div class="well well-sm">
  <h2>Bootstrap MVC Helpers</h2>
  <p>
    HTML 5 and Bootstrap MVC helpers
  </p>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group">
        <h3>Custom MVC Helpers</h3>
        <a class="list-group-item" href="/MVCHelperSamples/Helper01">Submit Button</a>
        <a class="list-group-item" href="/MVCHelperSamples/Helper02">Bootstrap Check Box</a>
        <a class="list-group-item" href="/MVCHelperSamples/Helper03">Check Box in a Button</a>
        <a class="list-group-item" href="/MVCHelperSamples/Helper04">Bootstrap Radio Button</a>
        <a class="list-group-item" href="/MVCHelperSamples/Helper05">Radio Button in a Button</a>
        <a class="list-group-item" href="/MVCHelperSamples/Helper06">Bootstrap/HTML 5 Text Box</a>
      </div>
    </div>
  </div>
</div>