@{
  ViewBag.Title = "Read Me Box Sample - 2";
}

<!-- PDSA Readme Box Styles -->
<link href="~/Content/pdsa-readme-box.css" rel="stylesheet" />
<!-- Font Awesome Icons -->
<link href="../Content/font-awesome.min.css" rel="stylesheet" />

<style>
  .pdsa-readme-box {
    min-height: 18em;
  }
</style>

<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="pdsa-readme-box">
      <div class="readme-header">
        <i class="fa fa-2x fa-bus"></i>
      </div>
      <div class="readme-body">
        <h1>Free Delivery</h1>
        <p>
          Order today and we will pay for your shipping. Offer valid on any order over $25.
        </p>
      </div>
      <div class="readme-footer">
        <a href="#">
          + Read More...
        </a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="pdsa-readme-box pdsa-readme-box-info">
      <div class="readme-header">
        <i class="fa fa-2x fa-refresh"></i>
      </div>
      <div class="readme-body">
        <h1>Free Returns</h1>
        <p>
          If your order is not right, we will make it right. We guarantee your return shipping and your satisfaction.
        </p>
      </div>
      <div class="readme-footer">
        <a href="#">
          + Read More...
        </a>
      </div>
    </div>
  </div>
</div>
