@{
  ViewBag.Title = "Home Page";
}

<style>
  .list-group-item {
    font-size: 1.2em;
  }
</style>

<div class="well well-sm">
  <h2>Bootstrap Misc. Samples</h2>
  <p>
    Block-Dropdown-Panel samples
  </p>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group">
        <h3>Summary Block Sample</h3>
        <a class="list-group-item" href="/SummaryBlockSamples/SummaryBlock01">Simple Summary Block</a>
        <a class="list-group-item" href="/SummaryBlockSamples/SummaryBlock02">Many Summary Blocks</a>
        <a class="list-group-item" href="/SummaryBlockSamples/SummaryBlock03">Read Me Box</a>
      </div>
      <div class="list-group">
        <h3>Drop Down Samples</h3>
        <a class="list-group-item" href="/DropDownSamples/DropDown01">Normal 'select' List</a>
        <a class="list-group-item" href="/DropDownSamples/DropDown02">Use a Bootstrap 'dropdown' Toggle</a>
        <a class="list-group-item" href="/DropDownSamples/DropDown03">Use a Bootstrap 'dropdown' Toggle with Separation</a>
        <a class="list-group-item" href="/DropDownSamples/DropDown04">Disabled Submit Button</a>
        <a class="list-group-item" href="/DropDownSamples/DropDown05">Data-Driven</a>
      </div>
      <div class="list-group">
        <h3>Panel Samples</h3>
        <a class="list-group-item" href="/PanelSamples/Panel01">Panel with Reload Button on Right</a>
        <a class="list-group-item" href="/PanelSamples/Panel02">Panel with Drop-Down Button on Right</a>
      </div>
    </div>
  </div>
</div>