@{
  ViewBag.Title = "Drop Down 1 - Normal 'select' List";
}

@using (Html.BeginForm())
{
  <div class="well">
    <h3>Normal 'select' list</h3>
    <select class="form-control">
      <option>Jazz</option>
      <option>Country</option>
      <option>Rock</option>
      <option>Blues</option>
      <option>Alternative Rock</option>
    </select>
  </div>
}
